<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIT Bhilai Campus Pharmacy - User Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="login-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Logo_IIT_Bhilai.png" alt="IIT Bhilai Logo" id="iit-logo" width="200" height="200">
        <h1>Indian Institute of Technology Bhilai Campus Pharmacy</h1>