<%- include('partials/header'); -%>

        <h2>Password Changed successfully!</h2>


        <form action="file:///Users/msapple/Desktop/study/CSD/three/login.html" method="post">
<!--            <label for="email">IIT Bhilai Email:</label>-->
<!--            <input type="email" id="email" name="email" required placeholder="username@iitbhilai.ac.in">-->

            <p>Kindly login to your account</p>
            <button type="submit">Login</button>
        </form>

<!--        <a href="forgot_password.php" class="forgot-password">Forgot Password?</a>-->
<!--        <p>Kindly login to your account <a href="file:///Users/msapple/Desktop/study/CSD/three/login.html">Login</a></p>-->

    </div>

    <%- include('partials/footer'); -%>
