<%- include('partials/header'); -%>



    <h2>User Login</h2>

<!-- changed "/" to "website" -->
    <form action="/" method="post" id="demo-form">
        <p class="error"><%= message %></p>
        <label for="email">IIT Bhilai Email:</label>
        <input type="email" id="email" name="username" required placeholder="username@iitbhilai.ac.in">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button class="g-recaptcha" 
        data-sitekey="6LczpV8pAAAAABbOzWYVBwKmAq4onBnxrAtvIdqp" 
        data-callback='onSubmit' 
        data-action='submit' name="g-recaptcha">Login</button>    
        <!-- <button type="submit">Login</button> -->
    </form>

    <a href="/forget" class="forgot-password">Forgot Password?</a>
    <p>New user? <a href="/register">Register here</a></p>

</div>


<%- include("partials/footer"); -%>
