<%- include("partials/header") -%>

<form action="/verify-otp" method="post">
        <input type="email" readonly="readonly" class="mailId" name="username" value=" <%= username %>">
        <label for="otp">Enter OTP:</label>
        <input type="text" id="otp" name="otp" required >
        <button type="submit">Verify OTP</button>
        <p><%= message %></p>
</form>



<%- include("partials/footer") -%>
